/* CSS */
p, div {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}
.body
{
    float:left;
    width: 90%;
}
#bag
{

    /*float: right;*/
    position: relative;


}

#itemDrop
{
    border: solid 2px gray;
    float:right;
    width: 10%;
    margin: 2em;
    height: 3em;
}



#characterSheet
{
    border: solid 2px gray;
    clear:both;
    float:right;
    width: 10%;
    margin: 2em;
    height: 15em;
}
#trashDrop
{
    border: solid 2px gray;
    clear:both;
    float:right;
    width: 10%;
    margin: 2em;
    height: 3em;
}
.equip
{
    border: solid 2px darkmagenta;

}
.itemDrag
{
    visibility: visible;
    border: dotted 2px gray;
    float: right;
    margin: 2em;
    height:3em;

}
/*[draggable=true]{*/
    /*border: dotted 2px darkred;*/
    /*float: right;*/
    /*width: 10%;*/
    /*margin: 2em;*/
    /*height:3em;*/
/*}*/


