/* CSS */
p, div {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}
.body
{
    float:left;
    width: 90%;
}
#bag
{
    visibility: hidden;

}

#plateDrop
{
    border: solid 2px gray;
    float:right;
    width: 10%;
    margin: 2em;
    height: 3em;
}



#weaponDrop
{
    border: solid 2px gray;
    clear:both;
    float:right;
    width: 10%;
    margin: 2em;
    height: 3em;
}
#shieldDrop
{
    border: solid 2px gray;
    clear:both;
    float:right;
    width: 10%;
    margin: 2em;
    height: 3em;
}
.equip
{
    border: solid 2px darkmagenta;

}



