/* CSS */
p, div {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}

@import url(http://fonts.googleapis.com/css?family=Nova+Flat);

body
{
    /*float:left;*/
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#about
{
    font-family: 'Nova Flat', cursive;
    color: white;
}

#bag
{

    float: right;
    position: relative;
    border-top: 2em outset white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

}

#itemDrop
{
    border: solid 2px gray;
    float:right;
    width: 10%;
    margin: 2em;
    height: 3em;
    font-family: helvetica, arial;
    color: lightgrey;
}



#characterSheet
{
    border: solid 2px gray;
    clear:both;
    float:right;
    width: 10%;
    margin: 2em;
    height: 15em;
    font-family: helvetica, arial;
    font-size: .9em;
    color: lightgrey;
}

#trashDrop
{
    border: solid 2px gray;
    clear:both;
    float:right;
    width: 10%;
    margin: 2em;
    height: 3em;
}

.equip
{
    border: solid 2px darkmagenta;

}

.itemDrag
{
    visibility: visible;
    border-top: 1em outset gray;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    float: right;
    margin: 2em;



}

#redBag
{
    color: red;
}
#greenBag
{
    color: green;
}
#greenHP
{
    color: green;
}
#redHP
{
    color: red;
}

#yellow
{
    color: yellow;
}

#blue
{
    color: cornflowerblue;
}

/*[draggable=true]{*/
    /*border: dotted 2px darkred;*/
    /*float: right;*/
    /*width: 10%;*/
    /*margin: 2em;*/
    /*height:3em;*/
/*}*/


canvas
{
    border-top: 2em outset white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}